@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --knacky-primary: #f18701;
  --knacky-primary-hover: #d97600;
  --knacky-splash-background: #f7b801;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-knacky-primary: var(--knacky-primary);
  --color-knacky-primary-hover: var(--knacky-primary-hover);
  --color-knacky-splash-background: var(--knacky-splash-background);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

a,
button {
  cursor: pointer;
}
